        /*
     * What follows is the result of much research on cross-browser styling.
     * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
     * Kroc Camen, and the H5BP dev community and team.
     */

    /* ==========================================================================
       Base styles: opinionated defaults
       ========================================================================== */

    html {
        color: #222;
        font-size: 1em;
        line-height: 1.4;
    }

    /*
     * Remove text-shadow in selection highlight:
     * https://twitter.com/miketaylr/status/12228805301
     *
     * These selection rule sets have to be separate.
     * Customize the background color to match your design.
     */

    ::selection {
        background: #b3d4fc;
        text-shadow: none;
    }

    /*
     * A better looking default horizontal rule
     */

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }

    /*
     * Remove the gap between audio, canvas, iframes,
     * images, videos and the bottom of their containers:
     * https://github.com/h5bp/html5-boilerplate/issues/440
     */

    audio,
    canvas,
    iframe,
    img,
    svg,
    video {
        vertical-align: middle;
    }

    /*
     * Remove default fieldset styles.
     */

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    /*
     * Allow only vertical resizing of textareas.
     */

    textarea {
        resize: vertical;
    }

    /* ==========================================================================
       Browser Upgrade Prompt
       ========================================================================== */

    .browserupgrade {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 0.2em 0;
    }

    /* ==========================================================================
       Author's custom styles
       ========================================================================== */
    *{
        margin: 0;
        padding: 0;
    }
    body{
        width: 96%;
        margin: auto;
    }
    img{
        width: 100%;
    }
    a{
        text-decoration: none;
    }
    li{
        list-style-type: none;
    }
   /* #ImageMapsCom-image-maps-2017-04-19-160657 area:hover{
        background-color: #F56B2A;
        fill: #F56B2A;
        cursor: pointer;
    }*/
    .figurefrance{
        width: 90%;
    }


    /*star page index.html*/
    /* display:none*/
    header nav,.headerbutton,  .sidebar, .white , .black, .partenaires, .partenaire2 p, .section1 figure,#text1,.select1,#box1,.cbox,#text2,.mad{
        display: none;
        /*end display none*/
    }

        #fighead1{
        height: 100px;
        margin-top: 1em;
    }

    header{
        background-color: #f56b2a;
        /*position: fixed;*/
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: auto;
    }



    .aside1{
        display: flex;
        justify-content: flex-start;
        padding: 8px;
       }

    .aside1 img{
        height: 35px;
        flex
    }
    .aside1 a {
        border-radius: 5px;
        background-color: white;
        color:#f56b2a;
       padding: 8px;


    }
    .aside1 figure{
        width: 40.325%;
        margin-left: 3em;
    }

      .section1 h4 span{
        color: #f56b2a;
    }

       .section1 h4{
        text-align: center;
        font-size: 12px;
        margin-top: 21px;
        color: #1A1A1A;
    }

    .section1 a{
      /*  border: 1px solid black;*/
      width: 300px;  
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 5px;
        border:1px solid;
        margin: 10px auto;
        padding: 6px;
    }
    .section1 a:nth-child(2){
        background-color: #4183D7;
        color:#fff;
        font-size: 12px;
    }
    .section1 a:hover{
        background-color: #f2f2f2;
    }



    .section1 a:nth-child(3){
        border-color: #4183d7;
        color: #69c;
        font-size: 12px;
    }
    footer{

        background-color: #474747;
        color: #fff;
    }

    #pf{
        font-size: 12px;
        text-align: center;
        margin-top: 150px;

    }

    .partenaires2 {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }


    .partenaires2 figure {
        width: 30px;
        height: 30px;

    }

    .reseausociaux{
        display: flex;
        align-self: flex-end;
    }
    /*end page index.html*/



    /* start page annonce.html*/
    h1{
        color: #98989B;
        border-bottom: 1px solid #98989B;
        font-size: 18px;
        padding: 10px;
    }

    h2{
        color: #98989b;
        font-size: 15px;
        padding: 10px;
        margin-top: 1em;
        border:1px solid ;
        background-color: #666666;
        color: #fff;
        width: 90%;
    }

    .container2 {
    display: flex;
    flex-direction: column;

    margin: auto;
    width: 96%;
    flex-wrap: wrap;
    }

    #select{
        border: 1px solid #968f7e;
        width: 96%;
        margin:  auto;
        padding: .5em;
        border-radius: 5px;
        background-color:transparent;
        line-height: 38px;
        -moz-appearance:none;
        cursor: pointer;
    }
    #select{
        background-image: url(../img/fleche.png);
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: right;
    }
    #annonces{
        background-image: url(../img/euro.jpg);
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: right;
    }
    
    label,figcaption {
     margin: 10px;
     display:block;
     font-size: 14px;
     }

    input{
        padding: .5em;
        width: 89%;
       max-width: 315px;
        background-color: transparent;
        border: 1px solid;
        line-height: 25px;
        border-radius: 5px; 
        border-color: #968F7E;
    }

        #seconnecter{
         padding: .5em;
        border: none;
        width: 97%;
        margin-top: .5em;
        background-color: #F56b2a;
        color: #fff;
        }

          .material-icons {
            color:#fff;
        }
        #seconnecter:hover, .material-icons:hover{
            background-color: #fff;
            color: #F56B2A;
        }


    .labelradio input, #cbox1, #cbox2{
        width: 0;
    }

    textarea{
        width: 100%;
        max-width: 329px;
    }

    .formulairephotos img{
        width: 78px;
        height: 78px;
        margin: 2px;
    }
    .formulairephotos{
        display: flex;
        flex-wrap: wrap;
    }
    #formbigfoto{
        width: 100%;
    }

    .formp{
        background-color: #D9E6F7;
        margin-top: 1em;
        font-size: 13px;
        width: 97%;
        border-radius: 5px;

    }

    #buttonblue{
        background-color: #4183D7;
        margin-bottom: 1em;
        padding: .8em;
        border-radius: 5px;
        border:none;
        transition: all,.3s;
        overflow: hidden;
        color: #fff;
    }

    #buttonblue:hover{
        background-color: #69c;
    }

    }
    .formp2{
        font-weight: normal;
        font-family: "OpenSansBold",sans-serif;
        text-align: right;
        font-size: 13px;
    }

    /*end page contact.html 360px*/

    /*start page offres.html*/

    #buttonhead{
        margin-left: 3em;
width: 60px;
color: #F56B2A;
border-radius: 5px;
background-color:transparent;
margin-top: 0;
border: none;
transition: all,.1s;

    }
h3{
    color: #989898;
    font-size: 16px;
    padding: 1em;

}
h5{
    text-align: center;
    padding: 1em;
    background-color: #F56B2A;
    color: #fff;
}

.sectionoffres{
    display: flex;
    flex-direction: column;
    border: 1px solid #F56B2A;
}
    .artoffres a{
        display: flex;
        font-family: "OpenSansSemiBold",sans-serif;
        color: #336699;
        border-top: 1px solid #CCCCCC;
    }
    .artoffres figure{
        width: 44%;
        margin: 7px ;
    }

    .divoffres span{
        color: #F56B2A;
    }
    .divoffres{
        margin: 5px;
    }

    .navoffres ul{
        display: flex;
        margin: 2rem 0px;
    }
    .navoffres a {
       
        border: 1px solid #ccc;
        height: 20px;
        padding: .5em;
        font-family: "OpenSansSemiBold",sans-serif;
        background-color:#E6E6E6;
        color: #000;
    }
    
    .navoffres span a {
        background-color: #fff;
        color: #F56B2A;
        border-bottom: none;
        font-family: "OpenSansSemiBold",sans-serif;
    }
    .navoffres a:hover {
        background-color: #fff;
        text-decoration: underline;
        color:#f56b2a;
    }

    #selectoffres{
            padding: .5em;
    width: 100%;
    font-family: "OpenSansSemiBold",sans-serif;
    border-radius: 5px;
    color: #336699;
    border:none;  
}
    #selectoffres{
        cursor: pointer;
        -moz-appearance:none;
        background-image: url(../img/fleche.png);
        background-size: 30px 30px;
        background-position: right;
        background-repeat: no-repeat;
        border: 1px solid #4183d7;
    }



.sectionoffres2{
    display: flex;
    flex-direction: column;
}
   

    /*end page offres.html*/



    /* start mediaqueries 768px*/

    /*start page index.html 768px*/
    @media (min-width: 768px){

    .aside1 figure{
        width: 66%;
    }
    .section1 h4 {
        font-size: 13px;
    }
    #fighead1{
        display: block;
    }

    #pf {
        font-size: 12px;
        text-align: center;
        margin-top: 200px;
    }
    #fighead1 img{
        height: 260px;
    }
    /*end page index.html*/


    /*start page annonce.html*/
    input,textarea{
        max-width: 100%;
        width: 97%;
    }
    #select{
        width:100%;
    }

    h2{
        width: 97%;
    }

    /*end page annonce.html*/
    }

    /*end mediaqueries 768px*/



    /*mediaqueries 800px*/
    @media (min-width: 800px){
        .section1 figure{
            display: block;
        }

         #fighead{
            display: none;
        }

        .container1{
            display: flex;
        }

               #fighead1{
        display: none;
    }
    

    .formulairephotos img, #formbigfoto{
        width: 168px;
        height: 150px;
        margin: 5px;
    }

    #pf {
        font-size: 12px;
        text-align: center;
        margin-top: 30px;
    }
    #villes{
        width: 55%;
    }
    #buttonorange{
        width: 39%;
        margin: 0;;
        color:#fff;
        background-color:#F9B493;
        border-radius: 5px;
        border: none;
    }
    #ville{
        width: 90%;
    }
    .formp1{
        display: flex;
    }
    .formp {
        width: 99%;
        line-height: 2em;
    }
    .formp11{
        display: flex;
        flex-direction: column;
    }
    .formp111{
        display: flex;
    }
    
    .figannonce{
        width: 100%;
        margin-top: 2.1em;
    }
    #buttonblue{
        width: 190px;
    }
    .sidebarinv{
        display: flex;
        flex-direction: column-reverse;
    }
   .sectionoffres {
    position: absolute;
    right: 5%;
    width: 22%;
    height: 80%;
    margin-top: 143px;
   
}
        .sectionoffres2{
            width: 65%;
        }

        .artoffres a {
    display: flex;
    font-family: "OpenSansSemiBold",sans-serif;
    color: #336699;
    flex-direction: column;
}
#selectoffres {
   
    width: 73%;
    

}
.container3 img{
    height: 200px;
    width: 200px;

    }
}

/*media queries 980px*/
        /*start page annonce.html*/
    @media (min-width: 980px){
    input{
        width: 48%;
        background-color: transparent;
        border: 1px solid;
        line-height: 25px;
        border-radius: 5px; 
        border-color: #968F7E;
    }
    textarea{
        width: 50%;
    }
    .ccc{
        display: flex;
    }
    #annonces{
        width: 25%;
    }
    
   /* #select{
        width: 100%;
    }*/

    /*page offres.html*/
    .sidebarinv{
        display: flex;
        flex-direction: column-reverse;
    }
    #text1,.select1,#box1,.cbox,#text2{
        display: block;
    }
    .kkk{
        display: flex;
        justify-content: space-around;
    }
    .mad {
        display: block;
    }
    
    #madbut,#madinput,#madinput2{
        width: 22%;

    }
   #madbut {
    position: absolute;
    right: 49px;
    top: 126px;
    background-color: #4183d7;
    color: #fff;
    border-radius: 5px;

}


    }



    /* start mediaqueries 1024px*/
    @media (min-width: 1024px) {
        header{
            background-color: #F56B2A;
        }
        .aside1 a, .section1 figure,#buttonhead,#select{
            display: none;
        }
        header nav,.headerbutton{
        display: block;
        padding: .5em;

        }
        .sidebar, .white , .black, .partenaires, .partenaire2 p, #fighead{
            display: block;
        }
        .container,footer,#pf, .container2, .container3{
            width: 60%;
            margin: 1em auto;
        }

        .container1{
            width: 68%;
        }
        .sidebar{
            width: 30%;
            text-align: right;

        }

        .sidebar a{
            color: #69c;
        }


        .container{
            display: flex;
            flex-direction: row;
        }
        #fighead{
            margin-left:48px;
            width: 77%;

        }
        .divheader{
            display: flex;
            justify-content: center;
        }
        .divheader nav ul {
            display: flex;
        }
         header nav li{
            padding: 10px;
         }
        nav a{
            color: white;
        }
        nav a:hover{
            text-decoration: underline;
        }

        .headerbutton{
            border-left: 1px solid #fff;
            border-right: 1px solid  #fff;
            display: flex;
            align-items: baseline;
        }
        /*.materialicons{
           
            color: #Fff;
        }*/
        .headerbutton:hover{
            background-color: #fff;
            color: #Ff4500;
        }

       

        /*start footer*/
        footer ul{
            width: 25%;
            border-bottom: 1px solid #666;
        }



        footer li , footer a{
            font-size: 13px;
            line-height: 2em;
        }

        footer .white{
            display: flex;
            justify-content: space-around;
            background-color: #F2F2F2;
            color: #336699;

        }

        footer .black{
            display: flex;
            justify-content: space-around;

        }

        .black img {
            width: 118.325px;
            height:35px;
        }
        .black li  {
            font-size: 15px;
        }
        footer span{
            text-decoration: underline;
            width: 100%;
            text-transform: uppercase;
        }

        .partenaires{
            text-align: center;
            border-top: 1px solid #666666;
            border-bottom: 1px solid #666666;
            padding: .5em;
            margin-top: 1em;

        }
        .partenaires a{
            color: #f2f2f2;
        }
        #bouttonfrance {
        padding: 0;
        margin: 0;
        width: 187px;
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        }
    #madbut {
    position: absolute;
    right: 160px;
    top: 264px;
   
}
.navselect{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

#selectoffres{    height: 41px;
    align-self: center;
}
#selectoffres {
    width: 22%;
}
#madbut {
    position: absolute;
    right: 459px;
    top: 138px;
    width: 217px;
    padding: .7em;
}
.sectionoffres {
    position: absolute;
    right: 22%;
   /* width: 0%;*/
    height: 80%;
    margin-top: 143px;
}

.artoffres a {
    display: flex;
    font-family: "OpenSansSemiBold",sans-serif;
    color: #336699;
    flex-direction: row;
   
    
}

    }

        /* end page offres.hml*/
















    /* ==========================================================================
       Helper classes
       ========================================================================== */

    /*
     * Hide visually and from screen readers
     */

    .hidden {
        display: none !important;
    }

    /*
     * Hide only visually, but have it available for screen readers:
     * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
     *
     * 1. For long content, line feeds are not interpreted as spaces and small width
     *    causes content to wrap 1 word per line:
     *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
     */

    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap; /* 1 */
    }

    /*
     * Extends the .visuallyhidden class to allow the element
     * to be focusable when navigated to via the keyboard:
     * https://www.drupal.org/node/897638
     */

    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        clip-path: none;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
        white-space: inherit;
    }

    /*
     * Hide visually and from screen readers, but maintain layout
     */

    .invisible {
        visibility: hidden;
    }

    /*
     * Clearfix: contain floats
     *
     * For modern browsers
     * 1. The space content is one way to avoid an Opera bug when the
     *    `contenteditable` attribute is included anywhere else in the document.
     *    Otherwise it causes space to appear at the top and bottom of elements
     *    that receive the `clearfix` class.
     * 2. The use of `table` rather than `block` is only necessary if using
     *    `:before` to contain the top-margins of child elements.
     */

    .clearfix:before,
    .clearfix:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    .clearfix:after {
        clear: both;
    }

    /* ==========================================================================
       EXAMPLE Media Queries for Responsive Design.
       These examples override the primary ('mobile first') styles.
       Modify as content requires.
       ========================================================================== */

    @media only screen and (min-width: 35em) {
        /* Style adjustments for viewports that meet the condition */
    }

    @media print,
           (min-resolution: 1.25dppx),
           (min-resolution: 120dpi) {
        /* Style adjustments for high resolution devices */
    }

    /* ==========================================================================
       Print styles.
       Inlined to avoid the additional HTTP request:
       http://www.phpied.com/delay-loading-your-print-css/
       ========================================================================== */

    @media print {
        *,
        *:before,
        *:after,
        p:first-letter,
        div:first-letter,
        blockquote:first-letter,
        li:first-letter,
        p:first-line,
        div:first-line,
        blockquote:first-line,
        li:first-line {
            background: transparent !important;
            color: #000 !important; /* Black prints faster:
                                       http://www.sanbeiji.com/archives/953 */
            box-shadow: none !important;
            text-shadow: none !important;
        }

        a,
        a:visited {
            text-decoration: underline;
        }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        abbr[title]:after {
            content: " (" attr(title) ")";
        }

        /*
         * Don't show links that are fragment identifiers,
         * or use the `javascript:` pseudo protocol
         */

        a[href^="#"]:after,
        a[href^="javascript:"]:after {
            content: "";
        }

        pre {
            white-space: pre-wrap !important;
        }
        pre,
        blockquote {
            border: 1px solid #999;
            page-break-inside: avoid;
        }

        /*
         * Printing Tables:
         * http://css-discuss.incutio.com/wiki/Printing_Tables
         */

        thead {
            display: table-header-group;
        }

        tr,
        img {
            page-break-inside: avoid;
        }

        p,
        h2,
        h3 {
            orphans: 3;
            widows: 3;
        }

        h2,
        h3 {
            page-break-after: avoid;
        }
}